body {
    margin: 0px;
    background: rgb(33, 33, 33);
    color: rgb(215, 228, 250);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid lightblue;
}

.nav-items {
    list-style: none;
    display: flex;
    margin-top: 15px;
}

.nav-item {
    margin: 15px;

}

.nav-img {
    width: 70px;
    margin: 15px;
}

.main {
    height: 100vw;
}

.heading {
    margin: 15px;
}

.list-items {
    margin: 15px;
}

.list-items>li {
    padding: 5px;
}


.footer {
    background-color: rgb(16, 150, 233);
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
}

.footer-text {
    margin: 0;
    padding: 10px;
}